body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
   
}
main{height: 100%;}

#BarraSup{
    display: flex;
    /*display: inline-block;*/
    flex-direction:row;
    justify-content:flex-end ;
    align-items: center;
    box-sizing: border-box;
    height: 48px;
    gap: 10px;
    justify-content:flex-end ;
    /*line-height: 50px;
    vertical-align: middle;*/
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

.navegador{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    
    
}

#lupa {
    width: 15px;
    padding-left: 10px ;
    padding-right: 5px;
}
  
.img_navegador{
    width: 6%;
    cursor: pointer;
   
}
#input-search { 
    width: 80%;
    border: none;
    border-width: 0;
    
}

#botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px ;
    padding-top: 23px;
    padding-bottom: 5% 
}

button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

footer{display: flex;
    flex-direction: column;
    background-color:#f2f2f2;
    
    
}

.footer_search{
    text-decoration: none; /*Elimina subrayado de texto*/
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #70757a;
    padding: 15px;
}

p{
    font-family: arial,sans-serif;
    font-size: 15px;
    color: #70757a;
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
    margin: 0px;
}

.footer_up{
    display: flex;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
  
}
.footer-1{
display: flex;
justify-content: space-between;
}

@media screen and (max_width: 50px) {
    .footer-1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
}

